[Unit]
Description=Virtual cable test service
After=network.target

[Service]
ExecStart=/usr/bin/java -jar /opt/vct.jar
ExecStop=/bin/kill -s INT $MAINPID

[Install]
WantedBy=multi-user.target